<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://www.iconpacks.net/icons/1/free-coin-icon-794-thumb.png" />
    <link rel="stylesheet" href="style.css">
    <title>Error</title>
</head>

<body>
    <%- include('./partials/navbar') %>
    <div class="header">
        <h1>Error</h1>
    </div>
    <p class="error">
        Some error happened. Try again ! :(
    </p>
</body>

</html>