<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://www.iconpacks.net/icons/1/free-coin-icon-794-thumb.png" />
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <%- include('./partials/navbar') %>
    <div class="header">
        <h1>Leaderboard</h1>
    </div>
    <table class="mt4vh"></table>
    <script src="buttonHide.js"></script>
    <script>
        const table = document.querySelector('table')
        let count = 1;
        let tr = null;
        let tdName = null;
        let tdScore = null;
        let tdCount = null;
        '<% users.map(user => { %>'
        tr = document.createElement('tr');
        tdName = document.createElement('td');
        tdScore = document.createElement('td');
        tdCount = document.createElement('td');
        tdName.innerText = '<%= user.name %>'
        tdScore.innerText = '<%= user.score %>'
        tdCount.innerText = count
        if (count === 1) {
            tdCount.innerHTML = '<img src="award.png" alt="first_place" class="leaderboard"></img>'
        }
        if (count === 2) {
            tdCount.innerHTML = '<img src="second.png" alt="second_place" class="leaderboard"></img>'
        }
        if (count === 3) {
            tdCount.innerHTML = '<img src="third.png" alt="third_place" class="leaderboard"></img>'
        }
        tr.appendChild(tdCount)
        tr.appendChild(tdName)
        tr.appendChild(tdScore)
        table.appendChild(tr)
        count++
        '<% }) %>'
    </script>
</body>

</html>